<% javascript "pagination" %>
<div class="home_banner">
<h1>Up&Away</h1>
  	<h3> Funding for Cooperatives, Collectives, & Non-Profits:  </h3>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/CsihHoyqwWY" frameborder="0" allowfullscreen></iframe>
</div>

<div id="featured" >
	<br><br>
	<h2> Featured Campaigns:</h2>
</div>

	<div id="campaigns">
	
	</div>

